@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Sofia&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    background: url(../image/sunset.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center;
}


.timer {
    margin: 400px auto;
    font-family: 'Sofia', cursive;
    width: 100%;
    text-align: center;
    font-size: 8em;
}

@media (max-width:1440px) {
    .timer {
        margin-top: 200px;
        font-size: 5.5em;
    }
}

@media (max-width:1024px) {
    .timer {
        margin-top: 200px;
        font-size: 3.5em;
    }
}

@media (max-width:425px) {
    .timer {
        margin-top: 200px;
        font-size: 2.5em;
    }
}

@media (max-width:375px) {
    .timer {
        margin-top: 150px;
    }
}
